.env.local
.env.*.local
.vscode/
node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
.idea/
*.sublime-workspace
*.sublime-project
*.log
coverage/
.cache/
.next/
out/
*.tsbuildinfo
*.swp
*.bak
*.tmp
*.orig
*.rej
*.class
*.war
*.jar
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.venv

sources/